*{
    margin: 0px;
}
body{
    margin: 0;
    /* height: 100vh; */
    /* border: 8px solid black; */
}
.nav{
    position: fixed;
    width: 100%;
    background-color: aliceblue;
    

}
.nav h2{
    
    padding: 6px 20px;
    box-sizing: content-box;
    font-family: cursive;
    font-size: 30px;
    
    /* border: 1px solid black; */
}

.container{

    height: 100vh;
    display: flex;
    background-color: var(--color);
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;

}


h1{
    background-color: rgba(0, 0, 0, 0.775);
    color: white;
    letter-spacing: 4px;
    padding: 16px 20px;
    border-radius: 6px;
}

h1 span{
    color: lightskyblue;
}

button{
    font-size: 24px;
    padding: 10px;
    border-radius: 6px;
    margin-top: 26px;
    letter-spacing: 4px;
    background-color: rgba(0, 0, 0, 0.036);
    padding: 10px;
    transition: background-color .3s;
}

button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.849);
    color: whitesmoke;
}